@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Poppins";
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.header__logo {
  width: 150px;
  height: 35px;
}

.header__item {
  border-bottom: 3px solid transparent;
  position: relative;
}

.right__btn {
  margin-left: 10px;
  display: none;
  padding: 11px;
  background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3);
          box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3);
  border-radius: 14px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.right-item {
  padding: 7px 8px 7px 12px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #46A358;
  border-radius: 6px;
  gap: 10px;
}

.header__right-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__btn {
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(../../img/Combined\ Shape.png);
  border: none;
  background-color: inherit;
  background-position: center;
  display: none;
}

.right-item img {
  width: 20px;
  height: 20px;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

.header__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #F8F8F8;
  border-radius: 10px;
  padding: 11px 0 12px 11px;
  max-width: 95%;
  width: 95%;
  display: none;
}

.header__mobile-menu input {
  border: none;
  background: inherit;
  outline: none;
}

.header__mobile-menu-img {
  width: 15px;
  height: 15px;
}

.header__item:hover::after {
  content: "";
  position: absolute;
  max-width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -26px;
  background: #46A358;
}

.header__item:active .header__link {
  opacity: 0.5;
}
.header__item:active::after {
  content: "";
  position: absolute;
  max-width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -26px;
  background: coral;
}

@media screen and (max-width: 1024px) {
  .header__list {
    gap: 15px;
  }
  .header__right-list {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .header__right-list {
    display: none;
  }
  .header__btn {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header__logo {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__right-list {
    display: none;
  }
  .right__btn {
    display: block;
  }
  .header__mobile-menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .header__btn {
    display: none;
  }
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
  margin-top: 10px;
}

.hero__top {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 7px;
}

.hero__title {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 5px;
}
.hero__title span {
  color: #46A358;
}

.hero__bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
}

.hero__content {
  max-width: 590px;
  padding-left: 40px;
  padding-top: 68px;
  padding-bottom: 20px;
}

.hero__btn {
  padding: 10px 26px;
  background-color: #46A358;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__sub-text {
  display: none;
}

.header__img {
  width: 550px;
}

.hero-sub-img {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__img {
    max-width: 400px;
  }
  .hero__content {
    max-width: 470px;
    padding-left: 20px;
    padding-top: 28px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 48px;
  }
  .hero__bottom,
.hero__top {
    font-size: 10px;
    line-height: 20px;
  }
}
@media screen and (max-width: 750px) {
  .header__img {
    max-width: 220px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .hero__content {
    max-width: 300px;
    padding-left: 20px;
    padding-top: 18px;
  }
  .hero__title {
    font-size: 24px;
    line-height: 29px;
  }
  .hero__bottom {
    font-size: 10px;
    line-height: 20px;
  }
  .hero__bottom {
    margin-bottom: 10px;
  }
  .hero__btn {
    padding: 5px 13px;
    font-size: 12px;
    line-height: 16px;
  }
  .hero__bottom {
    display: none;
  }
  .hero__sub-text {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 455px) {
  .hero {
    border-radius: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__content {
    text-align: center;
    padding-left: 0;
    padding-bottom: 0;
  }
  .header__img {
    display: none;
    width: 550px;
  }
  .hero-sub-img {
    display: block;
    max-width: 210px;
  }
}
.site-login {
  position: absolute;
  max-width: 500px;
  height: 590px;
  border-bottom: 10px solid #46A358;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.close-img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 28px;
  height: 28px;
  margin-top: 11px;
  margin-right: 11px;
}

.login-container {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 60px;
  padding-top: 50px;
}

.close-img:hover {
  cursor: pointer;
  background-color: coral;
  border-radius: 10px;
}

.register-text {
  text-align: center;
  margin-bottom: 53px;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #3D3D3D;
}

.login-container p span {
  color: #46A358;
}

label {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 14px;
}

.email-input {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-bottom: 17px;
  outline: none;
}

::-webkit-input-placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
}

::-moz-placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
}

:-ms-input-placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
}

::-ms-input-placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
}

::placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
}

.password-input {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: 1px solid #46A358;
  border-radius: 5px;
  margin-bottom: 14px;
  outline: none;
}

.password-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin: auto 0;
}

.password-input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin: auto 0;
}

.password-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin: auto 0;
}

.password-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin: auto 0;
}

.password-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin: auto 0;
}

.login-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 27px;
}

.login-container button {
  max-width: 100%;
  width: 100%;
  padding: 16px 0;
  background: #46A358;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.login-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 27px;
  color: #3D3D3D;
  text-align: center;
}

.google-icon,
.facebook-icon {
  width: 20px;
  height: 20px;
}

.google-link,
.facebook-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  width: 100%;
  max-width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-bottom: 15px;
}

.google-text {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */